.form_design .form-group { float: left; width: 100%; clear: both;}
.form_design .form-group label{ text-align: right; padding-top: 8px;}
.ln_solid{ clear: both;}
.post-cat{    float: left;
    margin-right: 11px;
    margin-top: 2px;}

.post-cat-p{
  font-size: 22px;
word-wrap: break-word;
display: inline;
}
.colorpicker-component{ padding-left: 10px !important; padding-right: 10px !important;margin-bottom: 0 !important;}
.nav_menu{background-color: #ffffff;}
.page-header{padding-bottom: 9px; margin: 0px 0 20px; border-bottom: 1px solid #eee; float: left; width: 100%;}
.page-header h1{ float: left; font-size: 24px; width:100%; line-height: 32px;}
.page-header form{ float: right; margin-top: 0;}
.profile_info{ padding: 25px 0px; line-height: 46px;}
.main_menu_side{ clear: both;}
.chose-image-list {
    width: 127px !important;
    max-height: 65px !important;
  }
.chosen-container-single .chosen-search{
  display: none;
}

.chosen-container .chosen-results li.active-result{
  /*display: none !important;*/
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
/* Modal Content/Box */
.modal-content {  background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888;  width: 35%; }
/* The Close Button */
.close {  color: #aaa;  float: right;  font-size: 28px;  font-weight: bold;}
.close:hover,
.close:focus { color: black; text-decoration: none;  cursor: pointer;}
.main-cat-img{  height: 110px; width: 100%;}
.back-btn{  margin-top: 25px;}
.back-btn a{  margin-top: 6px;}
